@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: theme('colors.zinc.800');
  font-family: 'Inter', sans-serif;
  color: theme('colors.zinc.100');
  height: 100%;
  width: 100%;
}
